
.cardContainer{
   margin-top: 4rem;
   margin-left: 5%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   max-width: 100%;
    
    
}

.cardSection{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
   
    margin-top: 2rem;


    gap: 1rem;
    
    



}

