.projectCardContainer{
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    width: 27.4375rem;  
    border-radius: 25px;
    border: 1px solid white;
}
.projectCard{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    
}
.tilleProj{
    font-weight: bold;
    

}
