.projectCardContainer{
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
    width: 27.4375rem;  
    border-radius: 25px;
    border: 1px solid white;
}
.projectCard{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}

